---

---

<div class="w-full h-96 bg-gray-200 rounded-lg overflow-hidden">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4703.69030422813!2d-76.39224478861426!3d-12.104155988087596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910f61006e9fcb17%3A0xa7eaba33496b6633!2sRaizViva!5e1!3m2!1ses-419!2spe!4v1752778746283!5m2!1ses-419!2spe"
    width="100%"
    height="100%"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    title="Ubicación de RaizViva en Lahuaytambo"
  >
  </iframe>
</div>
