---
import { WHATSAPP } from "../../consts";
---
<section class="hero-container" id="vimeohero">
    <!-- Imagen de precarga -->
    <img
        src="/images/hero/preload.webp"
        alt="Video placeholder"
        class="placeholder-image"
    />

    <!-- Iframe del video de Vimeo -->
    <iframe
        src=""
        frameborder="0"
        allow="fullscreen"
        title="videoPlayer"
        onload="this.classList.add('loaded')"></iframe>

    <!-- Contenido del hero -->
    <div class="hero-content mx-auto max-w-7xl relative w-full">
        <div class="text-content gap-6 font-bold">
            <h1 class="animate__animated animate__fadeInLeft delay-0s text-white mt-0 md:mt-10">
                <span class="text-2xl md:text-4xl lg:text-5xl leading-tight md:leading-normal lg:leading-relaxed">
                    La miel más pura de los Andes peruanos,<br class="hidden md:block"> 
                    directo del apicultor a tu mesa.
                </span>
            </h1>

            <p
                class="animate__animated animate__fadeInLeft delay-1s text-xl text-yellow-300 lg:text-2xl xl:text-3xl"
            >
                Compra miel artesanal, apoya a comunidades andinas y disfruta de
                un superalimento natural.
            </p>
            <a
                href={`https://wa.me/${WHATSAPP}?text=Me%20interesa%20sus%20productos%20de%20miel%20https://quistana.pe/%20`}
                target="_blank"
                class="animate__animated animate__fadeInLeft delay-2s rounded-md w-fit bg-yellow-400 text-lg md:text-2xl px-5 py-3 text-gray-900 hover:bg-yellow-500 transition-colors"
            >
                ¡Conoce nuestros productos!
            </a>
        </div>
    </div>

    <style>
        /* Estilos para el contenedor del video */
        #vimeohero {
            height: 100vh;
            overflow: hidden;
            position: relative;
            z-index: 1;
        }

        .placeholder-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }

        iframe {
            box-sizing: border-box;
            height: 56.25vw;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            width: 177.77777778vh;
            z-index: 2;
            opacity: 0;
            transition: opacity 1s ease-in-out;
        }

        iframe.loaded {
            opacity: 1;
        }

        /* Estilos para el contenido */
        .hero-content {
            position: relative;
            z-index: 3;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0 1rem;
        }

        .hero-content h1 {
            letter-spacing: -0.5em;
            text-shadow: 10px 6px 6px rgba(0, 0, 0, 0.5);
        }

        .text-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 1200px;
            margin: 0 auto;
        }

        @media (max-width: 1024px) and (orientation: portrait) {
            .hero-content {
                display: flex;
                grid-gap: 0;
                flex-direction: column;
            }
        }

        @media (max-width: 479px) {
            .hero-content h1 {
                letter-spacing: 0.02em;
                text-shadow: none;
            }
        }
    </style>

    <script>
        const videoId = "1095334106";

        function loadVideo() {
            const iframe = document.querySelector("#vimeohero iframe");

            if (iframe instanceof HTMLIFrameElement) {
                iframe.setAttribute(
                    "src",
                    `https://player.vimeo.com/video/${videoId}?background=1&autoplay=1&loop=1&byline=0&title=0&muted=1&dnt=1`,
                );

                iframe.addEventListener("load", function () {
                    iframe.classList.add("loaded");
                    // Triple seguridad para silenciar
                    iframe.contentWindow?.postMessage(
                        '{"method":"setVolume", "value":0}',
                        "*",
                    );
                    iframe.contentWindow?.postMessage(
                        '{"method":"setMuted", "value":true}',
                        "*",
                    );
                    iframe.contentWindow?.postMessage('{"method":"play"}', "*");
                });
            }
        }

        document.addEventListener("astro:after-swap", loadVideo);
        window.addEventListener("load", loadVideo);
    </script>
</section>