---
// components/shared/VideoLazy.astro
const { videoId = "", title = "" } = Astro.props;
let iframeSrc = `https://www.youtube-nocookie.com/embed/${videoId}?autoplay=1&mute=1&loop=1&playlist=${videoId}&controls=0&modestbranding=0&rel=0&showinfo=0&disablekb=1`;
---

<div
  class="aspect-[9/16] w-full max-w-md mx-auto relative overflow-hidden rounded-lg shadow-xl"
>
  <iframe
    src={iframeSrc}
    title={title}
    class="absolute top-0 left-0 w-full h-full"
    frameborder="0"
    allow="autoplay; encrypted-media"
    allowfullscreen
  ></iframe>
</div>
