---
import Button from "../shared/Button.astro";
import Icon from "../shared/Icon.astro";
import ScrollAnimation from "../shared/ScrollAnimation.astro";
import { WHATSAPP } from "../../consts";
import Container from "../shared/Container.astro";
---

<section class="bg-qs-cta py-16 px-4">
    <Container>
        <!-- Header Section -->
        <div class="header">
            <ScrollAnimation animation="fadeInDown" delay={0.3}>
                <span
                    class="flex flex-col items-center justify-center md:flex-row md:items-center md:gap-4"
                >
                    <Icon
                        name="dots"
                        class:list={["text-qs-accent-blue"]}
                        size={120}
                    />
                    <p class="subtitle text-qs-accent-blue">
                        Haz tu Pedido DIReCTAMENTE
                    </p>
                    <Icon
                        name="dots"
                        class:list={["text-qs-accent-blue"]}
                        size={120}
                    />
                </span>
            </ScrollAnimation>

            <ScrollAnimation animation="fadeInUp" delay={0.6}>
                <h2 class="title">Compra miel pura andina fácil y rápido</h2>
            </ScrollAnimation>
        </div>

        <!-- Subtitle -->
        <p class="text-lg md:text-xl my-8 max-w-3xl mx-auto">
            Contáctanos directamente y recibe tu pedido, sin intermediarios, en
            Lima o en ferias locales.
        </p>

        <!-- Call to Action -->
        <ScrollAnimation animation="bounceIn" delay={1.4} duration={0.8}>
            <div class="cta-container flex items-center justify-center ">
                <Button
                    text="Haz tu pedido por WhatsApp"
                    url={`https://wa.me/${WHATSAPP}?text=Me%20interesa%20sus%20productos%20de%20miel%20https://raizviva.pe/%20`}
                    variant="primary"
                />
            </div>
        </ScrollAnimation>
    </Container>
</section>
